{{#section 'stylesheets'}}
{{/section}}

<div class="">
<div class="">
  <div class="text-center pb-3 gradient-background">
    <h3>Ofertas atuais</h3>
  </div>
</div>

<div style="overflow-x:auto;">
<table class="table table-light table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Quantidade em Estoque</th>
      <th scope="col">Preço</th>
      <th scope="col">Entrega</th>
      <th scope="col">Vendendor</th>
      <th scope="col">Produto</th>
      <!-- <th scope="col">Vendendor</th> -->
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each offers}}
    <tr>
      <td class="font-book">{{stock}}</td>
      <td class="font-book">{{price.average}}</td>
      <td class="font-book">{{delivery}}</td>
      <td class="font-book">{{seller.fullName}}</td>
      <td class="font-book">{{product.name}}</td>
      <td class="font-book">
        <button onclick="location.href='/admin/{{id}}/deleteOffer'" class="btn btn-outline-danger">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>

{{#section 'scripts'}}
{{/section}}
