{{#section 'stylesheets'}}
{{/section}}

<div class="col-12">
  <div class="text-center p-3">
    <h3>Ofertas atuais</h3>
  </div>
</div>

<table class="table table-light table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Quantidade em Estoque</th>
      <th scope="col">Preço</th>
      <th scope="col">Entrega</th>
      <th scope="col">Vendendor</th>
      <th scope="col">Produto</th>
      <!-- <th scope="col">Vendendor</th> -->
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each offers}}
    <tr>
      <td>{{stock}}</td>
      <td>{{price.average}}</td>
      <td>{{delivery}}</td>
      <td>{{seller.fullName}}</td>
      <td>{{product.name}}</td>
      <td>
        <button onclick="location.href='/admin/{{id}}/deleteOffer'" class="btn btn-outline-danger">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
{{/section}}
