{{#section 'stylesheets'}}
{{/section}}

<div class="col-12">
  <div class="text-center p-3">
    <h3>Ofertas atuais</h3>
  </div>
</div>

<table class="table table-light table-striped text-center">
  <thead>
    <tr>
      <th scope="col" class="font-black">Quantidade em Estoque</th>
      <th scope="col" class="font-black">Preço</th>
      <th scope="col" class="font-black">Entrega</th>
      <th scope="col" class="font-black">Vendendor</th>
      <th scope="col" class="font-black">Produto</th>
      <!-- <th scope="col">Vendendor</th> -->
      <th scope="col" class="font-black">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each offers}}
    <tr>
      <td class="font-book">{{stock}}</td>
      <td class="font-book">{{price.average}}</td>
      <td class="font-book">{{delivery}}</td>
      <td class="font-book">{{seller.fullName}}</td>
      <td class="font-book">{{product.name}}</td>
      <td class="font-book">
        <button onclick="location.href='/admin/{{id}}/deleteOffer'" class="btn btn-outline-danger">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
{{/section}}
