{{#section 'stylesheets'}}
{{/section}}

<div class="">
<div class="">
  <div class="text-center pb-3 gradient-background text-white">
    <h3 class="font-black">Ofertas atuais</h3>
  </div>
</div>

{{#if offers}}
<div style="overflow-x:auto;">
  <div class="container">
    <p>Digite logo abaixo para buscar algum boleto específico:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Quantidade em Estoque</th>
          <th>Preço</th>
          <th>Entrega</th>
          <th>Vendedor</th>
          <th>Produto</th>
          <th colspan="2" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each offers}}
        <tr>
          <td class="font-book">{{stock}}</td>
          <td class="font-book" data-usd={{usd}}>R$ {{price.average}}</td>
          <td class="font-book">{{delivery}}</td>
          <td class="font-book">{{seller.fullName}}</td>
          <td class="font-book">{{product.name}}</td>
          <td class="font-book">
            <button onclick="location.href='/offers/{{id}}'" class="btn btn-outline-info">
              Ver
            </button>
          </td>
          <td class="font-book">
            <form action="/offers/{{id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger">Excluir</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{else}}
<div class="container">
  <p class="text-center font-light">Não há nenhuma oferta.</p>
</div>
{{/if}}

{{#section 'scripts'}}
<script src="/javascripts/money.js"></script>
<script src="/javascripts/navbar.js"></script>
<!-- <script src="/javascripts/filter.js"></script> -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{{/section}}
