{{#section 'stylesheets'}}
{{/section}}

<div class="justify-content-center  mx-0">

    <div class="text-center pb-3 gradient-background text-white">
      <h3 class="font-black">Produtos disponíveis</h3>
    </div>

    <div class="text-center pt-5">
      <button onclick="location.href = '/products/new'" class="btn font-book btn-outline-primary">Adicionar novo produto</button>
    </div>

</div>

<div style="overflow-x:auto;">
  <div class="container">
    <p>Digite logo abaixo para buscar algum produto específico:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Fabricante</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each products}}
          <tr>
            <th scope="row" class="font-book">{{name}}</th>
            <th scope="row" class="font-light">{{category}}</th>
            <th scope="row" class="font-light">{{manufacturer}}</th>
            <th scope="row" class="font-light">
              <button onclick="location.href='/products/{{id}}'" class="btn btn-outline-success font-book">Ver</button>
            </th>
            <th scope="row" class="font-light">
              <button onclick="location.href='/products/{{id}}/edit'" class="btn btn-outline-warning font-book">Editar</button>
            </th>
            <th scope="row" class="font-light">
              <form action="/products/{{id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger font-book">Excluir</button>
              </form>
            </th>
          </tr>
        {{/each}}
          </tbody>
        </table>
      </div>
    </div>
<!-- Chems list -->
<!-- end chems list -->

{{#section 'scripts'}}
<script src="/javascripts/navbar.js"></script>
<!-- <script src="/javascripts/filter.js"></script> -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{/section}}
