{{#section 'stylesheets'}}
{{/section}}

<div class="p-3">
<div class="row justify-content-center mt-2 mx-0">
  <div class="col-3">
  </div>

  <div class="col-6">
    <div class="text-center p-3">
      <h3 class="font-black">Produtos disponíveis</h3>
    </div>
  </div>

  <div class="col-3">
    <div class="text-right p-3">
      <button onclick="location.href = '/products/new'" class="btn font-book btn-outline-info">Adicionar novo produto</button>
    </div>
  </div>
</div>

<!-- Chems list -->

    <div style="overflow-x:auto;">
    <table class="table table-striped text-center table-light col-md-12 ">
      <thead>
        <tr>
          <th scope="col font-black">Nome</th>
          <th scope="col font-black">Categoria</th>
          <th scope="col font-black">Fabricante</th>
          <th scope="col font-black"></th>
          <th scope="col font-black">Opções</th>
          <th scope="col font-black"></th>
        </tr>
      </thead>
      <tbody>
      {{#each products}}
        <tr>
          <th scope="row" class="font-book">{{name}}</th>
          <th scope="row" class="font-light">{{category}}</th>
          <th scope="row" class="font-light">{{manufacturer}}</th>
          <th scope="row" class="font-light">
            <button onclick="location.href='/products/{{id}}'" class="btn btn-outline-success font-book">Ver</button>
          </th>
          <th scope="row" class="font-light">
            <button onclick="location.href='/products/{{id}}/edit'" class="btn btn-outline-info font-book">Editar</button>
          </th>
          <th scope="row" class="font-light">
            <form method="post">
            <!-- <form action="/products/{{id}}?_method=DELETE" method="POST"> -->
              <button type="submit" class="btn btn-outline-danger font-book">Excluir</button>
            </form>
          </th>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<!-- end chems list -->

{{#section 'scripts'}}
{{/section}}
