{{#section 'stylesheets'}}
{{/section}}

<!-- end NavBar -->

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Boletos Pendentes</h3>
  </div>
</div>

<table class="table table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Código da Compra</th>
      <th scope="col">Comprador</th>
      <th scope="col">Preço</th>
      <!-- <th scope="col">Vendendor</th> -->
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each transactions}}
    <tr>
      <td>{{_id}}</td>
      <td>{{buyer.fullName}}</td>
      <td>{{priceBought}}</td>
      <td>   <div class="dropdown">
    <button name="status" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      status
    </button>
    <!--   <button <button onclick="location.href='/admin/{{id}}/updateTransaction'" class="btn btn-outline-success"> -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"><button class="btn btn-outline-success col-12" name="status" buttonvalue="Pagamento Confirmado" button onclick="location.href='/admin/{{id}}/updateTransaction'">Pagamento confirmado
        <i class="fas fa-user-check"></i>
      </button></a>
      <a class="dropdown-item" href="#"><button class="btn btn-outline-primary col-12"name="status" buttonvalue="Cotado" button onclick="location.href='/admin/{{id}}/updateTransaction'" >Cotado
        <i class="fas fa-hand-holding-usd"></i>
      </button></a>
      <a class="dropdown-item" href="#"><button class="btn btn-outline-info col-12" name="status"buttonvalue="Produto a caminho" button onclick="location.href='/admin/{{id}}/updateTransaction'">Produto a caminho
        <i class="fas fa-truck-moving"></i>
      </button></a>
      <a class="dropdown-item" href="#"><button class="btn btn-outline-warning col-12"name="status" buttonvalue="Entregue" button onclick="location.href='/admin/{{id}}/updateTransaction'">Entregue
      <i class="fas fa-cube"></i>
      </button></a>
      <a class="dropdown-item" href="#"><button class="btn btn-outline-danger col-12" name="status"buttonvalue="Cancelado"button onclick="location.href='/admin/{{id}}/updateTransaction'">Cancelado
        <i class="fas fa-user-times"></i>
      </button></a>
    </div>
  </div>

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'scripts'}}
{{/section}}
