{{#section 'stylesheets'}}
{{/section}}

<!-- NavBar -->
<div class="pos-f-t">
  <nav class="navbar navbar-dark">
    <button class="btn btn-outline-dark" type="button" onclick="history.back()">
      <i class="fas fa-arrow-left fa-2x"></i>
    </button>

    <form id="navbar-form" action="./results" method="get" class="float-right my-2 my-lg-0 my-sm-0">
      <input class="form-control my-2 my-sm-0 float-right" type="search" placeholder="Buscar">
      <button class="btn btn-outline-dark " type="button">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </nav>
</div>
<!-- end NavBar -->

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-7 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Usuários</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down "></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- UsersList -->
<div class="justify-content-center">
  <div id="results-list" class="row justify-content-left mt-2 mx-0">
  {{#each users}}
    <div class="col-12 col-md-3">
      <div class="card mb-1">
        <div class="card-body text-right">
          {{#ifCond user 'Produtor'}}
            <i class="card-icon fas fa-warehouse fa-2x float-left align-middle"></i>
          {{else ifCond user 'Indústria'}}
            <i class="card-icon fas fa-industry fa-2x float-left align-middle"></i>
          {{else ifCond user 'Franqueado'}}
            <i class="card-icon fas fa-handshake fa-2x float-left align-middle"></i>
          {{else ifCond user 'Revenda'}}
            <i class="card-icon fas fa-hand-holding-usd fa-2x float-left align-middle"></i>
          {{/ifCond}}
          <h5 class="card-title align-text-top">{{name}}</h5>
          <p class="card-text align-text-bottom">{{user}}</p>
        </div>
      </div>
    </div>
        {{/each}}
    </div>
  </div>

<!-- end UsersList -->


{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
{{/section}}
