{{#section 'stylesheets'}}
{{/section}}

<div class="row">
<div class="card-body text-right col-7  ">
    <h3 class="card-title ">Usuários cadastrados</h3>
  </div>
  <div class="text-center mr-5 mt-4 ml-5">
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-sort-amount-down float-left"></i>
    </button>
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-filter float-left"></i>
    </button>
</div>
</div>

<!-- Users list -->
<div id="results-list" class="row justify-content-center mx-0">
  <div class="col-12 col-md-8">
    <table class="table table-responsive table-bordered table-light">
      <thead>
        <tr>
          <th scope="col font-black">Nome</th>
          <th scope="col font-black">Status</th>
          <th scope="col font-black">Tipo</th>
          <th scope="col font-black">E-mail</th>
          <th scope="col font-black">CPF/CNPJ</th>
        </tr>
      </thead>
      <tbody>
      {{#each users}}
        <tr>
          <th scope="row" class="font-book">{{fullName}}</th>
          <td><div class="dropdown">
        <button name="taxStatus"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          {{#ifCond active true}}
            class="btn btn-outline-success dropdown-toggle font-book col-12">
            Ativo
          {{else ifCond active false}}
            class="btn btn-outline-danger dropdown-toggle font-book col-12">
            Inativo
          {{/ifCond}}
        </button>
        <div class="dropdown-menu col-4" aria-labelledby="dropdownMenuButton" >
          <form  method= "POST" action="/admin/updateUserActive">
            <a class="dropdown-item" href="#">
              <button type="submit" class="btn btn-outline-success font-book col-12" name="active" value=true>
                Ativo
              </button>
            </a>
          </form>
          <form method= "POST" action="/admin/updateUserActive">
            <a class="dropdown-item " href="#">
              <button type="submit" class="btn btn-outline-danger font-book col-12" name="active" value=false>
                Inativo
              </button>
            </a>
          </form>
        </div>
          <td class="font-book">{{type}}</td>
          <td class="font-book">{{email}}</td>
          <td class="font-book">{{doc}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <!-- <div class="card mb-1" data-status="{{status}}">
      <div class="card-body">
        <div class="text-center">
          <h7 class="card-title align-text-top text-gray">Usuário - {{firstName}} {{lastName}}</h7>
          <div class="w-100">
          </div>
            <span class="badge badge-primary">
              <h6>{{type}}</h6>
            </span>
          <p class="card-text align-text-bottom text-gray">{{email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Users list -->

{{#section 'scripts'}}
{{/section}}
