{{#section 'stylesheets'}}
{{/section}}

<div class="text-center pb-3 gradient-background text-white">
  <h3 class="font-black">Boletos pendentes</h3>
</div>

{{#if transactions}}
<div style="overflow-x:auto;">
  <div class="container">
    <p>Digite logo abaixo para buscar algum boleto específico:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Código da compra</th>
          <th>Comprador</th>
          <th>Preço</th>
          <th>Status</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each transactions}}
        {{#ifCond taxStatus 'Aguardando boleto'}}
        <tr>
          <td>{{_id}}</td>
          <td>{{buyer.fullName}}</td>
          <td>{{priceBought}}</td>
          <td>{{taxStatus}}</td>
          <td scope="row" class="font-light">
            <form action="/transaction/{{_id}}" method="GET">
              <button type="submit" class="btn btn-outline-primary font-book">Ver</button>
            </form>
          </td>
        </tr>
        {{else ifCond taxStatus 'Aguardando pagamento'}}
        <tr>
          <td>{{_id}}</td>
          <td>{{buyer.fullName}}</td>
          <td>{{priceBought}}</td>
          <td>{{taxStatus}}</td>
          <td scope="row" class="font-light">
            <form action="/transaction/{{_id}}" method="GET">
              <button type="submit" class="btn btn-outline-primary font-book">Ver</button>
            </form>
          </td>
        </tr>
        {{/ifCond}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{else}}
<div class="container">
  <p class="text-center font-light">Não há nenhum boleto pendente.</p>
</div>
{{/if}}

{{#section 'scripts'}}
  <script src="/javascripts/navbar.js"></script>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{/section}}
