<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>   <!-- título da aba da página*/ -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/estilos.css'>
    {{{_sections.stylesheets}}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:600|Montserrat:700|Varela+Round">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <!-- Header and NavBar -->
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="gradient-background p-4">
            <h4 class="text-white">{{firstName}} {{lastName}}</h4>
            <ul class="navbar-nav mr-auto ml-5 mt-4">
              <div class="row">
                <div class="col-md-6">
                  <li class="nav-item active">
                    <a class="nav-link opacity-changes d-inline-block" href="/user">
                      <i class="fas fa-user fa-sm mt-2 float-left"></i>
                      <h3 class="font3 mobile-font float-right">Menu principal</h3>
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link opacity-changes d-inline-block" href="/user/edit">
                      <i class="fas fa-user fa-sm mt-2 float-left"></i>
                      <h3 class="font3 mobile-font float-right">Minha conta</h3>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link opacity-changes d-inline-block" href="/user/history">
                      <i class="fas fa-hdd fa-sm mt-2 float-left"></i>
                        <h3 class="font3 mobile-font float-right">Histórico</h3>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link opacity-changes d-inline-block" href="/logout">
                      <i class="fas fa-sign-out-alt fa-sm mt-2 float-left"></i>
                      <h3 class="font3 mobile-font float-right">Logout</h3>
                    </a>
                  </div>
                  <div class="col-md-6 my-auto">
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link font3" href="#">
                        SUPORTE E CONTATO
                      </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link font3" href="#">
                        DÚVIDAS FREQUENTES
                      </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link font3" href="/terms">
                        TERMOS DE USO
                      </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link font3" href="#">
                        CURTA NOSSA PÁGINA
                      </a>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        <nav class="navbar gradient-background py-3">
        <row>
        <button id="menu" class="btn btn-outline-dark float-left mr-1" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars fa-2x"></i>
        </button>
      </row>

      <form action="../search" method="get" class="input-wrapper float-right my-2 my-lg-0 my-sm-0 searchbar font-light">
        <row>
         <input id="searchbar-icon" type="search" placeholder="Buscar" name="filter" class="text-light">
         <label for="searchbar-icon" class="fas fa-search input-icon"></label>
       </row>
       </form>

      </nav>
    </div>

    <!-- end Header and NavBar -->

    {{{ body }}}

    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/typeahead/typeahead.bundle.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/javascripts/navbar.js" charset="utf-8"></script>
    {{{_sections.scripts}}}
  </body>
</html>
