<!-- LISTA DE COMPONENTES DO AGRO -->
<div class="ml-4">
  <h2 class="mt-2 mb-2">FONTES</h2>
  <p class="font-black">Teste</p>
  <p class="font-bold">Teste</p>
  <p class="font-book">Teste</p>
  <p class="font-light">Teste</p>

  <h2 class="mt-2 mb-2">CARDS</h2>

  <!-- CARD PADRÃO -->
  <h3> Card Padrão1</h3>
  <div class="col-sm-12 col-md-5 col-lg-4 btn card" >
    <!-- Define quanto de espaço o card ocupa. Não muda o tamanho do card, mas se você apertar control shift i, quanto mais colunas, mais
    daquele espaço azul o elemento ocupa (mesmo que ele não estique)-->
    <!-- Para cada oferta, printará um card. Se for outra coisa, tipo orders, seria #each orders, entre duas chaves. Não coloquei a sintaxe
    exata porque essa página não recebe nenhuma oferta do back e esse elemento funciona mesmo comentado, ou seja,não apareceria nenhum card -->
    <div class="my-1 bg-light2 card1"  onclick="location.href = '/offers/{{_id}}'">
      <!-- Aqui eu uso bootstrap pra definir que isso é um card e quando ele é clicado, vai pro link da oferta em específico.
      Tudo que está entre chaves são coisas que recebemos do back. As que não tem hashtags são variáveis-->
      <div class="text-right p-2">
        <div class="row">
          <div class="col-3 d-inline-block text-center align-self-center">
            <!-- {{#ifCond product.category 'Sementes'}}
            <i class="card-icon fas fa-seedling fa-3x text-center d-block mx-auto"></i>
            {{else}} -->
            <i class="d-inline d-sm-none card-icon fas fa-leaf fa-2x align-self-center"></i>
            <i class="d-none d-sm-inline d-xl-none card-icon fas fa-leaf fa-3x align-self-center"></i>
            <i class="d-none d-xl-inline card-icon fas fa-leaf fa-4x align-self-center"></i>

            <!-- {{/ifCond}} -->
          </div>

          <div class="col p-2">
            <div class="vl">
              <!-- Essa classe faz a linha verde vertical entre o ícone e preço e o nome -->
              <div class="ml-2">
                <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                  teste
                </h5>
                <!-- <div class="dropdown">
                <button name="taxStatus"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                {{#ifCond taxStatus 'Aguardando boleto'}}
                class="btn btn-outline-info dropdown-toggle col-12">
                Aguardando boleto

                {{else ifCond taxStatus 'Aguardando pagamento'}}
                class="btn btn-outline-warning dropdown-toggle col-12">
                Aguardando pagamento

                {{else ifCond taxStatus 'Pagamento confirmado'}}
                class="btn btn-outline-success  dropdown-toggle col-12">
                Pagamento confirmado

                {{else}}
                class="btn  dropdown-toggle btn-outline-danger col-12">
                Cancelado
                {{/ifCond}}
              </button>
              <!--   <button <button onclick="location.href='/admin/{{id}}/updateTransaction'" class="btn btn-outline-success"> -->
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <form  method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                  <a class="dropdown-item" href="#">
                    <button type="submit" align="center" class="btn btn-outline-info col-12" name="taxStatus" value="Aguardando boleto">
                      Aguardando boleto
                    </button>
                  </a>
                </form>
                <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                  <a class="dropdown-item " href="#">
                    <button type="submit" class="btn btn-outline-warning col-12" name="taxStatus" value="Aguardando pagamento">
                      Aguardando pagamento
                    </button>
                  </a>
                </form>
                <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                  <a class="dropdown-item" href="#">
                    <button type="submit" class="btn btn-outline-success col-12" name="taxStatus" value="Pagamento confirmado">
                      Pagamento confirmado
                    </button>
                  </a>
                </form>

                <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                  <a class="dropdown-item" href="#">
                    <button type="submit" class="btn btn-outline-danger col-12" name="taxStatus" value="Cancelado">
                      Cancelado
                    </button>
                  </a>
                </form>
              </div>
            </div>

            <div class="ml-2 mt-3">
              <div class="text-left side-animation">
                <h4 class="font-book mobile-font4 mobile-font5  d-inline" data-usd={{usd}}>
                  U$ {{price.low}} 123.00
                </h4>

                <i class="text-gray3 mt-2 font-light mobile-font1 d-inline">
                  / {{product.unit}} Kg
                </i>
              </div>
            </div>
            <!-- A classe mobile-font1 faz a fonte ficar responsiva. Tem vários tamanhos, todos com mobile-font1, mobile-font2, etc. Elas podem
            ser vistas no styles.sass. A classe text-uppercase faz o texto ficar em caixa alta sempre.-->
            <div class="smaller-font d-flex text-center mt-3 align-bottom">
              <!-- Smaller font é uma classe que criei pra definir um tamanho fixo do nome do card -->
              <div class="ml-2 text-gray3">
                <p class="text-uppercase font-book mobile-font2">Compra
                  <span class="count font-light mobile-font2"> <br/>solo</span>
                  <!-- a tag br vem de break, que significa uma quebra de linha -->
                </p>
              </div>
              <div class="ml-4 text-gray3">
                <p class="text-uppercase font-book mobile-font2">Entrega
                  <span class="count font-light mobile-font2"> <br/>{{delivery}}31 dias</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 ">
  <h3>Card Padrão 2</h3>
</div>
<div class="col-sm-12 col-md-5 col-lg-4 btn card" >
  <!-- Define quanto de espaço o card ocupa. Não muda o tamanho do card, mas se você apertar control shift i, quanto mais colunas, mais
  daquele espaço azul o elemento ocupa (mesmo que ele não estique)-->
  <!-- Para cada oferta, printará um card. Se for outra coisa, tipo orders, seria #each orders, entre duas chaves. Não coloquei a sintaxe
  exata porque essa página não recebe nenhuma oferta do back e esse elemento funciona mesmo comentado, ou seja,não apareceria nenhum card -->
  <div class="my-1 bg-light2 card1"  onclick="location.href = '/offers/{{_id}}'">
    <!-- Aqui eu uso bootstrap pra definir que isso é um card e quando ele é clicado, vai pro link da oferta em específico.
    Tudo que está entre chaves são coisas que recebemos do back. As que não tem hashtags são variáveis-->
    <div class="text-right p-2">
      <div class="row">
        <div class="col-3 d-inline-block text-center align-self-center">
          <!-- {{#ifCond product.category 'Sementes'}}
          <i class="card-icon fas fa-seedling fa-3x text-center d-block mx-auto"></i>
          {{else}} -->
          <i class="d-inline d-sm-none card-icon fas fa-leaf fa-2x align-self-center"></i>
          <i class="d-none d-sm-inline d-xl-none card-icon fas fa-leaf fa-3x align-self-center"></i>
          <i class="d-none d-xl-inline card-icon fas fa-leaf fa-4x align-self-center"></i>

          <!-- {{/ifCond}} -->
        </div>

        <div class="col p-2">
          <div class="vl">
            <!-- Essa classe faz a linha verde vertical entre o ícone e preço e o nome -->
            <div class="ml-2">
              <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                teste
              </h5>
              <div class="ml-3 mr-3">
                <div class="dropdown">
                  <button name="taxStatus"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                  {{#ifCond taxStatus 'Aguardando boleto'}}
                  class="btn btn-outline-info dropdown-toggle col-12">
                  Aguardando boleto

                  {{else ifCond taxStatus 'Aguardando pagamento'}}
                  class="btn btn-outline-warning dropdown-toggle col-12">
                  Aguardando pagamento

                  {{else ifCond taxStatus 'Pagamento confirmado'}}
                  class="btn btn-outline-success  dropdown-toggle col-12">
                  Pagamento confirmado

                  {{else}}
                  class="btn  dropdown-toggle btn-outline-danger col-12">
                  Cancelado
                  {{/ifCond}}
                </button>
                <!--   <button <button onclick="location.href='/admin/{{id}}/updateTransaction'" class="btn btn-outline-success"> -->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <form  method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                    <a class="dropdown-item" href="#">
                      <button type="submit" align="center" class="btn btn-outline-info col-12" name="taxStatus" value="Aguardando boleto">
                        Aguardando boleto
                      </button>
                    </a>
                  </form>
                  <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                    <a class="dropdown-item " href="#">
                      <button type="submit" class="btn btn-outline-warning col-12" name="taxStatus" value="Aguardando pagamento">
                        Aguardando pagamento
                      </button>
                    </a>
                  </form>
                  <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                    <a class="dropdown-item" href="#">
                      <button type="submit" class="btn btn-outline-success col-12" name="taxStatus" value="Pagamento confirmado">
                        Pagamento confirmado
                      </button>
                    </a>
                  </form>

                  <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                    <a class="dropdown-item" href="#">
                      <button type="submit" class="btn btn-outline-danger col-12" name="taxStatus" value="Cancelado">
                        Cancelado
                      </button>
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div class="ml-2 mt-3">
            <div class="text-left side-animation">
              <h4 class="font-book mobile-font4 mobile-font5  d-inline" data-usd={{usd}}>
                U$ {{price.low}} 123.00
              </h4>

              <i class="text-gray3 mt-2 font-light mobile-font1 d-inline">
                / {{product.unit}} Kg
              </i>
            </div>
          </div>
          <!-- A classe mobile-font1 faz a fonte ficar responsiva. Tem vários tamanhos, todos com mobile-font1, mobile-font2, etc. Elas podem
          ser vistas no styles.sass. A classe text-uppercase faz o texto ficar em caixa alta sempre.-->
          <div class="smaller-font d-flex text-center mt-3 align-bottom">
            <!-- Smaller font é uma classe que criei pra definir um tamanho fixo do nome do card -->
            <div class="ml-2 text-gray3">
              <p class="text-uppercase font-book mobile-font2">Compra
                <span class="count font-light mobile-font2"> <br/>solo</span>
                <!-- a tag br vem de break, que significa uma quebra de linha -->
              </p>
            </div>
            <div class="ml-4 text-gray3">
              <p class="text-uppercase font-book mobile-font2">Entrega
                <span class="count font-light mobile-font2"> <br/>{{delivery}}31 dias</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end CARD PADRÃO -->

<h2 class="mt-2 mb-2">BOTÕES</h2>

<div class="btn-index col-sm-12 col-md-6 col-lg-3 list-group-item mobile-font2 text-center bg-light2">
  <!-- btn-index é uma classe que só permite que a animação do botão seja feita no desktop, ou seja, quando fica responsivo, o layout
  dos botões muda. Isso pode ser modificado, fiz isso pra encaixar com a dashboard do Agro mesmo. Mas se forem mudar, me avisem por favor! -->
  <p class="font-book mb-2 my-auto text-dark2 text-center">Teste</p>
</div>

<button class="btn bg-green text-light2">Teste</button>

<h2 class="mt-2 mb-2">INPUTS</h2>

<div class="form-group col-3">
  <!-- form-group é uma classe do bootstrap utilizado para agrupar elementos num form -->
  <div class="user-input">
    <!-- user-input e floating-label são classes que utilizo pra fazer o texto mudar de lugar quando clica no input -->
    <br/>
    <div class="input-group bg-light2">
      <!-- input-group é uma classe do bootstrap. Ele agrupa itens dentro de um mesmo imput (nesse caso, o ícone e  a label) -->
      <div class="input-group-prepend">
        <div class="input-group-text bg-light2"><i class="fas fa-cart-arrow-down text-dark"></i></div>
      </div>
      <input name="product[name]" type="text" class="form-control input-text" required>
      <!-- quando temos uma estrutura do tipo product[name], geralmente é o que mandamos para o back algo que estamos inserindo: dentro da
      "struct" product, há uma variável de nome name. Quando o back envia pra gente, temos value={{coisa}}, o qual coisa é a variável que
      o back nos enviou pra aquilo. O required apenas indica que, para o form ser enviado, aquele campo em específico precisa ser preenchido-->
      <label class="floating-label font-book text-dark2">Teste</label>
    </div>
  </div>
</div>

</div>
