{{#section 'stylesheets'}}
{{/section}}


<div class="text-center pb-3 gradient-background text-white">
  <h3 class="font-black">Requisições de contrato</h3>
</div>

{{#if users}}
<div style="overflow-x:auto;">
  <div class="container">
    <p>Digite logo abaixo para buscar alguma requisição de contrato específica:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th></th>
          <th class="text-center">Opções</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each users}}
        <tr>
          <th scope="row">{{fullName}}</th>
          <td>{{type}}</td>
          <td>
            <div class="row">
              <button onclick="location.href='/user/profile/{{_id}}'" class="btn btn-outline-info font-book mx-auto">
                Perfil
              </button>
            </div>
          </td>
          <td>
            <form  method= "POST" action="/user/contract">
              <input name="clientId" type="hidden" class="form-control font-light" value="{{id}}"></input>
              <div class="row">
                <button type="submit" align="center" class="btn btn-outline-success mx-auto" name="status" value="Ativo">
                  Aceitar
                </button>
              </div>
            </form>
          </td>
          <td>
            <form  method= "POST" action="/user/denyContract">
              <input name="clientId" type="hidden" class="form-control font-light" value="{{id}}"></input>
              <div class="row">
                <button type="submit" align="center" class="btn btn-outline-danger mx-auto" name="status" value="Bloqueado">
                  Recusar
                </button>
              </div>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{else}}
<div class="container">
  <p class="text-center font-light"> Não há nenhuma solicitação de produtores </p>
</div>
{{/if}}

{{#section 'scripts'}}
<script src="/javascripts/navbar.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{/section}}
