{{#section 'stylesheets'}}
{{/section}}
<div class="pb-3 gradient-background">
  <h4 class="text-center">Meus Franqueados</h4>
</div>

<div class="row justify-content-center">
  {{#each users}}
  <div class="col-sm-12 col-md-6 col-lg-6 btn card m-3" >
      <div class="my-1 bg-light2 card1"  onclick="location.href = '/user/profile/{{_id}}'">
        <div class="text-right p-2">
          <div class="row">
            <div class="col-3 d-inline-block text-center align-self-center">
              <i class="d-inline d-sm-none card-icon fas fa-user fa-2x align-self-center"></i>
              <i class="d-none d-sm-inline d-xl-none card-icon fas fa-user fa-3x align-self-center"></i>
              <i class="d-none d-xl-inline card-icon fas fa-user fa-4x align-self-center"></i>
            </div>

            <div class="col p-2">
              <div class="vl">
                <div class="ml-2">
                  <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                    {{fullName}}
                  </h5>
                </div>

                <div class="ml-2 mt-3">
                  <div class="text-left">
                    <h4 class="font-book mobile-font4 mobile-font5  d-inline">
                      {{email}}
                    </h4>
                  </div>
                </div>

                <div class="ml-2 mt-3">
                  <div class="text-left">
                    <h4 class="font-book mobile-font4 mobile-font5  d-inline">
                      {{phone}}
                    </h4>
                  </div>
                </div>

                <div class="ml-2 mt-3">
                  <div class="text-left">
                    <h4 class="font-book mobile-font4 mobile-font5  d-inline">
                      {{address.city}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<!-- end CARD PADRÃO -->
      {{/each}}
</div>

{{#section 'scripts'}}
{{/section}}
