{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-8 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Resultados</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down"></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- ResultsList -->
<div id="results-list" class="row justify-content-center mt-2 mx-0">
  <div class="col-sm-12 col-md-4">
    {{#each offers}}
      <div id="card1" class="card mb-1 btn" onclick="location.href = '/offers/{{_id}}'">
        <div class="text-right p-2">
          <div class="row">
            <div class="col-4 col-md-5 col-lg-5 d-inline-block p-1">
              <div class="text-center">
                <p class="text-gray2 mt-2 float-right"><i class="font-light mobile-font1">/ {{product.unit}}</i></p>
                <h4 class="font-book mobile-font4 mobile-font5 side-animation" data-usd={{usd}}>R$ {{price.low}}</h4>
              </div>
              {{#ifCond product.category 'Sementes'}}
              <i class="card-icon fas fa-seedling fa-3x text-center d-block mx-auto"></i>
              {{else}}
              <i class="card-icon fas fa-leaf fa-3x float-left align-middle"></i>
              {{/ifCond}}
            </div>

            <div class="col-3 p-2">
              <div class="vl">
                <h5 class="align-text-top"><i class="font-black text-green ml-2 mobile-font1 text-uppercase">{{product.name}}</i></h5>
                <div class="smaller-font d-flex text-center mt-5 justify-content-between">
                  <div class="ml-2">
                    <p class="text-uppercase font-book mobile-font2">Compra
                      <span class="count font-light mobile-font2"> <br />solo</span>
                    </p>
                  </div>
                  <div class="">
                    <p class="ml-lg-4 ml-3 text-uppercase font-book mobile-font2">Entrega
                      <span class="count font-light mobile-font2"> <br />{{delivery}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<!-- end ResultsList -->

{{#section 'scripts'}}
  <script src="/javascripts/money.js"></script>
{{/section}}
