{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-8 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Resultados</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down"></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- ResultsList -->
<div id="results-list" class="row justify-content-md-end justify-content-center mt-2 mx-0">
  <div class="col-12 col-md-8">
    {{#each groups}}
    {{#if offer.product.name}}
      <div class="card mb-1 btn" onclick="location.href = '/offers/{{offer._id}}'">
        <div class="card-body text-right">
          {{#ifCond offer.product.category 'Sementes'}}
          <i class="card-icon fas fa-leaf fa-3x float-left align-middle"></i>
          {{else}}
          <i class="card-icon fas fa-seedling fa-3x float-left align-middle"></i>
          {{/ifCond}}
          <h4 class="align-middle text-center">Grupo de compra</h4>
          <h5 class="card-title align-text-top">{{offer.product.name}}</h5>
          <p class="card-text align-text-bottom">Preço: R$ {{offer.price.low}} / {{offer.product.unit}}</p>
          <p class="card-text align-text-bottom">Entrega: {{offer.delivery}}</p>
        </div>
      </div>
    {{/if}}
    {{/each}}
    {{#each offers}}
    {{#if product.name}}
      <div class="card mb-1 btn" onclick="location.href = '/offers/{{_id}}'">
        <div class="card-body text-right">
          {{#ifCond product.category 'Sementes'}}
          <i class="card-icon fas fa-leaf fa-3x float-left align-middle"></i>
          {{else}}
          <i class="card-icon fas fa-seedling fa-3x float-left align-middle"></i>
          {{/ifCond}}
          <h4 class="align-middle text-center">Compra solo</h4>
          <h5 class="card-title align-text-top">{{product.name}}</h5>
          <p class="card-text align-text-bottom">Preço: <a data-usd={{usd}}>R$ {{price.low}}</a> / {{product.unit}}</p>
          <p class="card-text align-text-bottom">Entrega: {{delivery}}</p>
        </div>
      </div>
    {{/if}}
    {{/each}}
  </div>
</div>
<!-- end ResultsList -->

{{#section 'scripts'}}
  <script src="/javascripts/money.js"></script>
{{/section}}
