{{#section 'stylesheets'}}
{{/section}}

<h3 class="mt-3 text-center">Editar Oferta</h3>
<form action="/offers/{{id}}?_method=PUT" method="POST">
  <div class="row d-flex justify-content-between">

    <!-- <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Nome do produto</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
       </div>
       <input name="offer[product]" type="text" class="form-control" value="{{product.name}}" id="name"></input>
      </div>
    </div> -->

    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Nome do produto</label>
      <div class="input-group" id="products-list">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <input name="offer[product]" class="form-control typeahead" type="text" placeholder="Nome do produto">
      </div>
    </div>

    <div class="form-group col-md-3 mx-4 my-2">
      <label for="category" class="editlabel">Forma de entrega</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-boxes"></i></div>
       </div>
       <select class="form-control" name="offer[delivery]" id="category">
         <option disabled selected value>{{delivery}}</option>
         <option value="48 horas">Em até 48 horas</option>
         <option value="31 dias">Em até 31 dias</option>
         <option value="safra">Safra</option>
         <option value="safrinha">Safrinha</option>
       </select>
      </div>
    </div>



    <div class="form-group col-md-3 mx-4 my-2">
      <label for="category" class="editlabel">Moeda de cotação</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
       </div>
       <select class="form-control" name="offer[usd]" id="category">
         {{#ifCond usd true}}
           <option selected value="1">Dólar americano (U$)</option>
           <option value="0">Real (R$)</option>
         {{else ifCond usd false}}
           <option selected value="0">Real (R$)</option>
           <option value="1">Dólar americano (U$)</option>
         {{/ifCond}}
       </select>
      </div>
    </div>

</div>

<div class="row d-flex justify-content-between">
  <div class="form-group col-md-3 col-10 mx-4 my-2">
    <label for="name" class="editlabel">Quantidade em estoque</label>
    <div class="input-group mb-2">
     <div class="input-group-prepend">
       <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
     </div>
     <input name="offer[stock]" type="text" class="form-control" value="{{stock}}" id="name"></input>
    </div>
  </div>

  <div class="form-group col-md-3 col-10 mx-4 my-2">
    <label for="name" class="editlabel">Quantidade mínima a ser comprada</label>
    <div class="input-group mb-2">
     <div class="input-group-prepend">
       <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
     </div>
     <input name="offer[minAmount]" type="text" class="form-control" value="{{minAmount}}" id="name"></input>
    </div>
  </div>

</div>

  <h5 class="mt-3 text-center">Preços</h5>
  <div class="row d-flex justify-content-between">
    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Baixo</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
       </div>
       <input name="offer[price][low]" type="text" class="form-control" value="{{price.low}}" id="name"></input>
      </div>
    </div>

    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Médio</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
       </div>
       <input name="offer[price][average]" type="text" class="form-control" value="{{price.average}}" id="name"></input>
      </div>
    </div>

    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Alto</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-dollar-sign"></i></div>
       </div>
       <input name="offer[price][high]" type="text" class="form-control" value="{{price.high}}" id="name"></input>
      </div>
    </div>
  </div>

  <h5 class="mt-3 text-center">Quantidades para mudanças de preço</h5>
  <div class="row d-flex justify-content-between">
    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Muda para preço médio</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
       </div>
       <input name="offer[breakpoints][average]" type="text" class="form-control" value="{{breakpoints.average}}" id="name"></input>
      </div>
    </div>

    <div class="form-group col-md-3 col-10 mx-4 my-2">
      <label for="name" class="editlabel">Muda para preço baixo</label>
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
       </div>
       <input name="offer[breakpoints][low]" type="text" class="form-control" value="{{breakpoints.low}}" id="name"></input>
      </div>
    </div>
  </div>

  <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Salvar</button>
</form>

{{#section 'scripts'}}
  <script src="/javascripts/product.dropdown.js"></script>
{{/section}}
