{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Produtos oferecidos</h3>
</div>
<div class="p-3">
<!-- OrdersList-->
<div id="results-list" class="row justify-content-center p-3">
  {{#if offers}}
    {{#each offers}}
    <div class="col-sm-12 col-md-5 col-lg-5 btn card row m-3" >
        <div class="my-1 bg-light2 card1"  onclick="location.href = '/offers/{{_id}}'">
          <div class="text-right">
            <div class="row">
              <div class="col-3 d-inline-block text-center align-self-center">
                <i class="d-inline d-sm-none card-icon fas fa-leaf fa-2x align-self-center"></i>
                <i class="d-none d-sm-inline d-xl-none card-icon fas fa-leaf fa-3x align-self-center"></i>
                <i class="d-none d-xl-inline card-icon fas fa-leaf fa-4x align-self-center"></i>
              </div>

              <div class="col p-2">
                <div class="vl">
                  <div class="ml-2">
                    <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                      {{product.name}}
                    </h5>
                  </div>
                  <div class="ml-2 mt-3 text-left">
                    {{#ifCond active false}}
                      <span class="badge badge-danger mb-3">
                        <h6>Inativo</h6>
                      </span>
                    {{else}}
                      <span class="badge badge-success mb-3">
                        <h6>Ativo</h6>
                      </span>
                    {{/ifCond}}
                    <div class="text-left side-animation">
                      <h4 class="font-book mobile-font4 mobile-font5  d-inline" data-usd={{usd}}>
                        R$ {{price.low}}
                      </h4>

                      <i class="text-gray3 mt-2 font-light mobile-font1 d-inline">
                        / {{product.unit}}
                      </i>
                    </div>
                  </div>
                  <div class="smaller-font d-flex text-center mt-3 align-bottom">
                    <div class="ml-2 text-gray3">
                      <p class="text-uppercase font-book mobile-font2">Compra
                        <span class="count font-light mobile-font2"> <br/>solo</span>
                      </p>
                    </div>
                    <div class="ml-4 text-gray3">
                      <p class="text-uppercase font-book mobile-font2">Entrega
                        <span class="count font-light mobile-font2"> <br/>{{delivery}}</span>
                      </p>
                    </div>
                    <div class="ml-4 text-gray3">
                      <p class="text-uppercase font-book mobile-font2">Estoque
                        <span class="count font-light mobile-font2"> <br/>{{stock}} {{product.unit}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {{/each}}
  <!-- </div> -->
  {{else}}
  <div class="container">
    <p class="text-center font-light">Você não está oferecendo nenhum produto ainda.</p>
  </div>
  {{/if}}
</div>
<!-- end OrdersList -->
</div>
{{#section 'scripts'}}
  <script src="/javascripts/sales.js"></script>
  <script src="/javascripts/money.js"></script>
{{/section}}
