{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="pb-3 gradient-background">
  <h4 class="text-center">Produtos oferecidos</h4>
</div>
<div class="p-3">
<div class="filters-header row justify-content-center p-3">
    <div class="">
      <button type="button" name="button" class="btn">
        <i class="fas fa-sort-amount-down "></i>
      </button>
      <button type="button" name="button" class="btn">
        <i class="fas fa-filter "></i>
      </button>
    </div>
</div>
<!-- end Filters Header -->

<!-- OrdersList-->
<div id="results-list" class="row justify-content-center">
  <div class="col-sm-12 col-md-6 col-lg-6">
    {{#each offers}}
    <!-- problema na classe card -->
    <div class="m-3">
      <div class="card mb-1 btn" onclick="location.href = '/offers/{{_id}}'">
        <!-- <div class="card-body">
          <div class="text-right">
          </div>
        </div> -->
          <div class="text-center">
            <h7 class="card-title align-text-top text-gray">Oferta #{{_id}}</h7>
            <h5 class="card-title align-text-top product-myOrders">{{product.name}}</h5>
            <div class="row mt-3 justify-content-center">
                {{#ifCond active false}}
                  <span class="badge badge-danger mb-3">
                    <h6>Inativo</h6>
                  </span>
                {{else}}
                  <span class="badge badge-success mb-3">
                    <h6>Ativo</h6>
                  </span>
                {{/ifCond}}
            </div>
            <div class="row mt-1">
              <div class="col-12">
                <div class="form-check">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <h6>Estoque: {{stock}} {{product.unit}}</h6>
                      </div>
                      <div class="col-md-6">
                        <h6>Entrega: {{delivery}}</h6>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  <!-- </div> -->
</div>
</div>
<!-- end OrdersList -->
</div>

{{#section 'scripts'}}
  <script src="/javascripts/sales.js"></script>
{{/section}}
