{{#section 'stylesheets'}}
{{/section}}

<div class="container">
  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <!-- Product Title -->
    <div class="col-12 col-md-6 mb-5">
      <i class="text-muted">Produto {{product.generic}}</i>
      <h2 class="my-0 py-0 mb-4">{{product.name}}</h2>

      <!-- Product Description -->
      <h4>Descrição</h4>
      <p>
        {{product.description}}
      </p>
      <!-- end Product Description -->
    </div>
    <!-- end Product Title -->

    <!-- Quotation -->
    <div class="col-12 col-md-6 pb-2 mb-5">
      {{#ifCond userType 'Produtor'}}
      <form action="/transaction" method="post">
        <div class="row mb-3">
          <div class="form-group col">
            <label class="text-muted" for="amount">Quantidade</label>
            <div class="input-group">
              <input type="hidden" name="_id" value="{{_id}}">
              <input class="form-control" type="number" min="{{minAmount}}" name="amountBought" id="amount" value="{{minAmount}}">
              <div class="input-group-prepend">
                <div class="input-group-text">{{product.unit}}</div>
              </div>
            </div>
          </div>
        </div>
        <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
      </form>
      {{else ifCond userType 'Administrador'}}
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-5">
          <div class="row">
            <div class="col-6">
              <h4>Estoque:</h4>
              <p>{{stock}} {{product.unit}}</p>
            </div>
            <div class="col-6">
              <h4>Entrega:</h4>
              <p>{{delivery}}</p>
            </div>
            <div class="col-6">
              <h4>Preços:</h4>
              <dt>Baixo: R$ {{price.low}}</dt>
              <dt>Médio: R$ {{price.average}}</dt>
              <dt>Alto: R$ {{price.high}}</dt>
            </div>
            <div class="col-6">
              <h4>Qtd. mínima:</h4>
              <p>{{minAmount}} {{product.unit}}</p>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
      <form action="/offers/{{_id}}?_method=DELETE" method="POST">
          <button type="submit" class="w-100 text-white btn btn-danger my-2">Deletar oferta</button>
      </form>
      {{/ifCond}}
    </div>
    <!-- end Quotation -->

    <!-- Product Characteristics -->
    <div class="col-12 col-md-6 mb-5">
      <h4>Características</h4>
      <div class="row">
        <div class="col-6">
          <dt>C. agronômica</dt>
          <dd>Feromônio</dd>
        </div>
        <div class="col-6">
          <dt>Toxicologia</dt>
          <dd>Pouco tóxico</dd>
        </div>
        <div class="col-6">
          <dt>Inflamabilidade</dt>
          <dd>Inflamável</dd>
        </div>
        <div class="col-6">
          <dt>Formulação</dt>
          <dd>Comprimidos e sachês</dd>
        </div>
        <div class="col-6">
          <dt>Ingredientes ativos</dt>
          {{#each product.chem}}
            <dd>{{name}}</dd>
          {{/each}}
        </div>
        <div class="col-6">
          <dt>Fabricante</dt>
          <dd>{{product.manufacturer}}</dd>
        </div>
      </div>
    </div>
    <!-- end Product Characteristics -->

    <!-- Payment Options -->
    <div class="col-12 col-md-6 mb-5">
      <h4>Formas de pagamento</h4>
      <div>
        <i class="fab fa-cc-visa fa-4x mr-2 text-info"></i>
        <i class="fab fa-cc-mastercard fa-4x mr-2 text-danger"></i>
        <i class="fas fa-barcode fa-4x mr-2"></i>
      </div>
      <a class="tex-muted" href="#"><small>Mais informações</small></a>
    </div>
    <!-- end Payment Options -->
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
