{{#section 'stylesheets'}}
{{/section}}

<div class="container">
  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <!-- Product Title -->
    <div class="col-12 col-md-12 mb-4 justify-content-center">
      <h5 class="text-muted text-center">Produto {{product.generic}}</h5>
      <h2 class="my-0 py-0 mb-4 text-center">{{product.name}}</h2>
    </div>

    <div class="col-12 col-md-4 mb-5 ml-md-5 justify-content-center">
      <!-- Product Description -->
      <h4>Descrição</h4>
      <p class="font-light"> {{product.description}} </p>

      <h4>Vendedor(a)</h4>
      <p class="font-light">{{seller.fullName}}</p>

      <h4>Ingredientes ativos</h4>
      {{#each product.chem}}
        <p class="font-light">{{name}}</p>
      {{/each}}

      <h4>Forma de entrega</h4>
      <p class="font-light">{{delivery}}</p>

      <h4>Fabricante</h4>
      <p class="font-light">{{product.manufacturer}}</p>

      <h4>Categoria</h4>
      <p class="font-light">{{product.category}}</p>
      <!-- end Product Description -->
    </div>
    <!-- end Product Title -->

    <!-- Quotation -->
    <div class="col-12 col-md-4 mb-5 justify-content-center">
      {{#ifCond myOffer 1}}
      <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
      <form action="/offers/{{_id}}?_method=DELETE" method="POST">
          <button type="submit" class="w-100 text-white btn btn-danger my-2">Deletar oferta</button>
      </form>

      {{else}}
      {{#ifCond userType 'Produtor'}}
      <form action="/transaction" method="post">
        <label class="font-bold" for="amount">Quantidade</label>
        <input type="hidden" name="_id" value="{{_id}}">
        <div class="input-group">
        <input class="form-control" type="number" min="{{minAmount}}" name="amountBought" id="amount" value="{{minAmount}}">
        <div class="input-group-prepend">
          <div class="input-group-text">{{product.unit}}</div>
        </div>
      </div>
        <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
      </form>
      {{else ifCond userType 'Franqueado'}}
      <form action="/transaction" method="post">
            <label class="font-light" for="amount">Quantidade</label>
            <div class="input-group">
              <input type="hidden" name="_id" value="{{_id}}">
              <input class="form-control" type="number" min="{{minAmount}}" name="amountBought" id="amount" value="{{minAmount}}" required>
              <div class="input-group-prepend">
                <div class="input-group-text">{{product.unit}}</div>
              </div>
            </div>
            <label class="mt-2 font-light" for="amount">Selecione o cliente responsável por esta cotação</label>
            <select class="form-control new-shadow" name="buyer" required/>
              <option disabled selected value>-- Cliente --</option>
              {{#each clients}}
              <option value={{_id}}>{{fullName}}</option>
              {{/each}}
            </select>
        <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
      </form>

      {{else ifCond userType 'Administrador'}}
            <div class="col-12">
              <h4>Estoque</h4>
              <p class="font-light">{{stock}} {{product.unit}}</p>
            </div>
            <div class="col-12">
              <h4>Entrega</h4>
              <p class="font-light">{{delivery}}</p>
            </div>
            <div class="col-12">
              <h4>Preços</h4>
              <p class="font-light">Baixo: R$ {{price.low}}</p>
              <p class="font-light">Médio: R$ {{price.average}}</p>
              <p class="font-light">Alto: R$ {{price.high}}</p>
            </div>
            <div class="col-12">
              <h4>Qtd. mínima</h4>
              <p class="font-light">{{minAmount}} {{product.unit}}</p>
            </div>

      {{else ifCond userType 'Revendedor'}}
      <form action="/transaction" method="post">
          <div class="form-group col">
            <label class="font-bold" for="amount">Quantidade</label>
            <div class="input-group">
              <input type="hidden" name="_id" value="{{_id}}">
              <input class="form-control" type="number" min="{{minAmount}}" name="amountBought" id="amount" value="{{minAmount}}">
              <div class="input-group-prepend">
                <div class="input-group-text">{{product.unit}}</div>
              </div>
            </div>
          </div>
        <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
      </form>

      {{else ifCond userType 'Indústria'}}
      <form action="/transaction" method="post">
            <label class="font-bold" for="amount">Quantidade</label>
              <input type="hidden" name="_id" value="{{_id}}">
              <input class="form-control" type="number" min="{{minAmount}}" name="amountBought" id="amount" value="{{minAmount}}">
              <div class="input-group-prepend">
                <div class="input-group-text">{{product.unit}}</div>
              </div>
        <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
      </form>
      {{/ifCond}}
      {{/ifCond}}
    </div>
    <!-- end Quotation -->
  </div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/money.js"></script>
{{/section}}
