{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-7 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Minhas Cotações</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down "></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- QuotationsList -->
<div class="justify-content-center">
  <div id="results-list" class="row d-flex justify-content-around mt-2 mx-md-4">
  {{#each quotations}}
    <div class="col-12 col-md-4">
      <div class="card mb-1">
        <div class="card-body text-right">
          {{#ifCond offer.product.category 'Defensivos'}}
            <i class="card-icon fas fa-bug fa-3x float-left align-middle"></i>
          {{else ifCond offer.product.category 'Sementes'}}
            <i class="card-icon fas fa-dot-circle fa-3x float-left align-middle"></i>
          {{else ifCond offer.product.category 'Fertilizantes'}}
            <i class="card-icon fas fa-seedling fa-3x float-left align-middle"></i>
          {{else ifCond offer.product.category 'Fertilizantes Líquidos'}}
            <i class="card-icon fas fa-tint fa-3x float-left align-middle"></i>
          {{/ifCond}}
          <h5 class="card-title align-text-top">{{offer.product.name}}</h5>
          <p class="card-text align-text-bottom">R$ {{unitPrice}} / {{offer.product.unit}}</p>
          <p class="card-text align-text-bottom">Quantidade cotada: {{amountBought}} {{offer.product.unit}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
  <form action="/user/buy" method="POST">
    <button class="w-100 col-10 col-md-7 text-white btn btn-default bg-green mx-auto d-block my-2" type="submit" name="button">Comprar</button>
  </form>
</div>
<!-- end QuotationsList -->

{{#section 'scripts'}}
{{/section}}
