{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="p-3">
  <div class="text-center p-3">
    <h3 class="font-black">Minhas cotações</h3>
  </div>
  <div class="text-center mr-5 mt-2 ml-5 mb-4">
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-sort-amount-down float-left"></i>
    </button>
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-filter float-left"></i>
    </button>
  </div>
<!-- end Filters Header -->

<!-- QuotationsList -->
<div class="row justify-content-center">
  <!-- <div class="justify-content-center"> -->
    <!-- <div id="results-list" class="row d-flex justify-content-around mt-2 mx-md-4"> -->
      <!--
      Informações antigas:
      R$ {{unitPrice}} /{{offer.product.unit}}
      {{amountBought}} {{offer.product.unit}}
      Total: R$ {{priceBought}}
      <h6>Entrega: {{offer.delivery}} -->
    {{#each quotations}}
      <div class="col-sm-12 col-md-5 col-lg-4 btn card ml-5 mr-5" >
          <div class="my-1 bg-light2 card1"  onclick="location.href = '/offers/{{_id}}'">
            <div class="text-right p-2">
              <div class="row">
                <div class="col-3 d-inline-block text-center align-self-center">

                  {{#ifCond offer.product.category 'Defensivos'}}
                    <i class="d-inline d-sm-none card-icon fas fa-bug fa-2x align-self-center"></i>
                    <i class="d-none d-sm-inline d-xl-none card-icon fas fa-bug fa-3x align-self-center"></i>
                    <i class="d-none d-xl-inline card-icon fas fa-bug fa-4x align-self-center"></i>
                  {{else ifCond offer.product.category 'Sementes'}}
                    <i class="d-inline d-sm-none card-icon fas fa-dot-circle fa-2x align-self-center"></i>
                    <i class="d-none d-sm-inline d-xl-none card-icon fas fa-dot-circle fa-3x align-self-center"></i>
                    <i class="d-none d-xl-inline card-icon fas fa-dot-circle fa-4x align-self-center"></i>
                  {{else ifCond offer.product.category 'Fertilizantes'}}
                    <i class="d-inline d-sm-none card-icon fas fa-seedling fa-2x align-self-center"></i>
                    <i class="d-none d-sm-inline d-xl-none card-icon fas fa-seedling fa-3x align-self-center"></i>
                    <i class="d-none d-xl-inline card-icon fas fa-seedling fa-4x align-self-center"></i>
                  {{else ifCond offer.product.category 'Fertilizantes Líquidos'}}
                    <i class="d-inline d-sm-none card-icon fas fa-tint fa-2x align-self-center"></i>
                    <i class="d-none d-sm-inline d-xl-none card-icon fas fa-tint fa-3x align-self-center"></i>
                    <i class="d-none d-xl-inline card-icon fas fa-tint fa-4x align-self-center"></i>
                  {{/ifCond}}
                </div>
                <div class="col p-2">
                  <div class="vl">
                    <div class="ml-2">
                      <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                        {{offer.product.name}}
                      </h5>
                    </div>
                    <div class="ml-2 mt-3">
                      <div class="text-left side-animation">
                        <h4 class="font-book mobile-font4 mobile-font5  d-inline" data-usd={{usd}}>
                          R$ {{unitPrice}}
                        </h4>
                        <i class="text-gray3 mt-2 font-light mobile-font1 d-inline">
                          / {{offer.product.unit}} Kg
                        </i>
                      </div>
                    </div>
                    <div class="smaller-font d-flex text-center mt-3 align-bottom">
                      <div class="ml-2 text-gray3">
                        <p class="text-uppercase font-book mobile-font2">Compra
                          <span class="count font-light mobile-font2"> <br/>????</span>
                        </p>
                      </div>
                      <div class="ml-4 text-gray3">
                        <p class="text-uppercase font-book mobile-font2">Entrega
                          <span class="count font-light mobile-font2"> <br/>{{offer.delivery}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    {{/each}}
    </div>
    <form action="/user/buy" method="POST">
      <button class="w-100 col-10 col-md-4 text-white btn btn-default bg-green mx-auto d-block my-2" type="submit" name="button">Comprar</button>
    </form>
  </div>
</div>
<!-- end QuotationsList -->

{{#section 'scripts'}}
{{/section}}
