<!-- NavBar -->
<div class="pos-f-t">
  <nav class="navbar navbar-dark">
    <button class="btn btn-outline-dark" type="button" onclick="history.back()">
      <i class="fas fa-arrow-left fa-2x"></i>
    </button>

    <form id="navbar-form" action="./results" method="get" class="float-right my-2 my-lg-0 my-sm-0">
      <input class="form-control my-2 my-sm-0 float-right" type="search" placeholder="Buscar">
      <button class="btn btn-outline-dark " type="button">
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </nav>
</div>
<!-- end NavBar -->

<div class="container">
  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <!-- Product Title -->
    <div class="col-12 ml-4 mb-5">
      <i class="text-muted">Produto {{originalOrNot}}</i>
      <h2 class="my-0 py-0">{{name}}</h2>
      <h5 class="text-muted">R$ {{price}} un.</h5>
    </div>
    <!-- end Product Title -->

    <!-- Quotation  -->
    <div class="col-12 pb-2 mb-5">
      <form action="#" method="post">
        <div class="col-12 col-md-6 mb-5">
          <div class="mb-5">
            <p class="text-muted">Ingrediente ativo</p>
            <p>{{activeIngredient}}</p>
          </div>

          <div class="col-12 col-md-6 mb-5">
            <div class="row">
              <div class="col-6">
                <dt>Entrega</dt>
                <h4>{{delivery}}</h4>
              </div>
              <div class="col-6">
                <dt>Quantidade</dt>
                <h4>{{amount}}</h4>
              </div>
              <div class="col-6">
                <dt>Preço total</dt>
                <h2>{{totalPrice}}</h2>
              </div>
            </div>
          </div>

        </div>
          <button class="w-100 col-10 col-md-6 text-white btn btn-default bg-green mx-auto d-block my-2" type="submit" name="button">Comprar</button>
        <div class="text-center">
          <a class="text-dark" href = "#" >Cancelar cotação</a>
        </div>
      </form>
    </div>
    <!-- end Quotation -->
  </div>

</div>
