{{#section 'stylesheets'}}
<stylesheet src="/stylesheets/style.css"></styleshhet>
  <stylesheet src="/stylesheets/estilos.css"></styleshhet>
    {{/section}}

    <div class="container">
      <div class="justify-content-center mx-sm-auto">
        <div class="row">
          <!-- Product Title -->
          <div class="col-12 col-md-5">
            <i class="text-muted">Produto {{offer.product.generic}}</i>
            <h2 class="my-0 py-0">{{offer.product.name}}</h2>
          </div>
          <!-- end Product Title -->

          <!-- Quotation info -->
          <div class="row mb-3 ml-1">
            <div class="col-4">
              <h4>Entrega</h4>
              <p>{{offer.delivery}}</p>
            </div>
            <div class="col-4">
              <h4>Quantidade cotada</h4>
              <p>{{amountBought}} {{offer.product.unit}}</p>
            </div>
            <div class="col-4">
              <h4>Preço total</h4>
              <p>
                {{#if offer.usd}}
                R$ {{math (usdValue) "*" priceBought}}
                {{else}}
                R$ {{priceBought}}
                {{/if}}
              </p>
            </div>
          </div>
          <!-- end Quotation info -->

          {{#ifCond userType 'Produtor'}}
          <!-- Seller info -->
          <div class="col-12 col-md-5 mt-3">
            <h3 class="mb-4">Dados do vendedor</h3>
            <h4>Empresa</h4>
            <p class="mb-4">{{offer.seller.fantasyName}}</p>
            <h4>Contato</h4>
            <p>Telefone: {{offer.seller.logistics.phone}}</p>
            <p>E-mail: {{offer.seller.logistics.email}}</p>
          </div>
          <!-- end Seller info -->
          {{else ifCond userType 'Indústria'}}
          <!-- Buyer info -->
          <div class="col-12 col-md-5 mt-3">
            <h3 class="mb-4">Dados do comprador</h3>
            <h4>Nome</h4>
            <p class="mb-4">{{buyer.fullName}}</p>
            <h4>Contato</h4>
            <p>Telefone: {{buyer.phone}}</p>
            <p>E-mail: {{buyer.email}}</p>
          </div>
          <!-- end Buyer info -->
          {{else}}
          <!-- Seller info -->
          <div class="col-12 col-md-5 mt-3">
            <h3>Dados do vendedor</h3>
            <h4>Empresa</h4>
            <p class="mb-4">{{offer.seller.fantasyName}}</p>
            <h4>Contato</h4>
            <p>Telefone: {{offer.seller.logistics.phone}}</p>
            <p>E-mail: {{offer.seller.logistics.email}}</p>
          </div>
          <!-- end Seller info -->
          <!-- Buyer info -->
          <div class="col-12 col-md-5 mt-3">
            <h3>Dados do comprador</h3>
            <h4>Nome</h4>
            <p class="mb-4">{{buyer.fullName}}</p>
            <h4>Contato</h4>
            <p>Telefone: {{buyer.phone}}</p>
            <p>E-mail: {{buyer.email}}</p>
          </div>
          <!-- end Buyer info -->
          {{/ifCond}}

          <!-- Product description -->
          {{#if offer.megaOpportunity}}
          <div class="col-6 pb-2 mb-2 mt-4">
            <h2>Avaria</h2>
            <p>{{offer.damage}}</p>
          </div>
          {{else}}
          <div class="col-6 pb-2 mb-2 mt-4">
            <h2>Descrição</h2>
            <p>{{offer.product.description}}</p>
          </div>
          {{/if}}
          <!-- end Product description -->
        </div>
      </div>

      <button class="w-100 col-12 col-md-4 text-white btn btn-default bg-green mx-auto d-block my-2" onclick="location.href = '/quotations'" name="button">Ver cotações</button>
      <div class="text-center my-3 justify-content-center">
        <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
          <button type="submit" class="btn btn-danger col-12 col-md-4" name="taxStatus" value="Cancelado">
            Cancelar cotação
          </button>
        </form>
      </div>
    </form>
  </div>

  {{#section 'scripts'}}
  {{/section}}
