{{#section 'stylesheets'}}
{{/section}}

<div class="container">
  <div class="justify-content-center mx-sm-auto">
    <div class="row">
      <!-- Product Title -->
      <div class="col-12 col-md-6">
        <i class="text-muted">Produto {{offer.product.generic}}</i>
        <h2 class="my-0 py-0">{{offer.product.name}}</h2>
        <h5 class="text-muted mt-3">R$ {{unitPrice}} un.</h5>
      </div>
      <!-- end Product Title -->

      <!-- Quotation info -->
    <div class="row mb-3 ml-1">
      <div class="col-6">
        <dt class="text-gray">Entrega</dt>
        <h4>{{offer.delivery}}</h4>
      </div>
      <div class="row mb-3 ml-1">
        <div class="col-6">
          <dt class="text-gray">Entrega</dt>
          <h4>{{offer.delivery}}</h4>
        </div>
        <div class="col-6">
          <dt class="text-gray">Quantidade</dt>
          <h4>{{amountBought}}</h4>
        </div>
        <div class="col-6">
          <dt class="text-gray">Preço total</dt>
          <h2>R$ {{priceBought}}</h2>
        </div>
      </div>
      <div class="col-6">
        <dt class="text-gray">Ingrediente ativo</dt>
        <h2>{{offer.product.chem.name}}</h2>
      </div>
    </div>
<!-- end Quotation info -->

      <!-- Product description -->
      <div class="col-6 pb-2 mb-5">
        <h4>Descrição</h4>
        <p>{{offer.product.description}}</p>
      </div>
      <!-- end Product description -->
    </div>
  </div>

  <button class="w-100 col-10 col-md-7 text-white btn btn-default bg-green mx-auto d-block my-2" type="submit" name="button">Comprar</button>
  <div class="w-100">
  </div>
<div class="text-center">
  <a class="text-dark" href = "#" >Cancelar cotação</a>
</div>
</form>
</div>

{{#section 'scripts'}}
{{/section}}
