{{#section 'stylesheets'}}
{{/section}}

<div class="p-3">
<div class="row col-12">
  <div class="card-body text-right col-7 ">
    <h3 class="card-title">Grupos de compra</h3>
  </div>
  <div class="text-center mr-5 mt-4 ml-5">
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-sort-amount-down float-left"></i>
    </button>
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-filter float-left"></i>
    </button>
  </div>
</div>

<div style="overflow-x:auto;">
<table class="table table-striped text-center table-light col-md-12 ">
  <thead>
    <tr>
      <th scope="col font-black">Código do produto</th>
      <th scope="col font-black">Nome do produto</th>
      <th scope="col font-black">Preço atual</th>
      <th scope="col font-black">Dono</th>
      <th scope="col font-black">Quantidade sendo contada</th>
      <th scope="col font-black">Preço total</th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <td class="font-book">{{_id}}</td>
      <td class="font-book">{{offer.product.name}}</td>
      <td class="font-book">{{price}}</td>
      <td class="font-book">{{offer.seller.responsible.name}}</td>
      <td class="font-book">{{amount}}</td>
      <td class="font-book">Em definição</td>
    </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>

{{#section 'scripts'}}
{{/section}}
