{{#section 'stylesheets'}}
  <!-- -->
{{/section}}
<!-- Filters Header -->
  <div class="text-center pb-3 gradient-background">
    <h3 class="font-black">Minhas compras</h3>
  </div>
  <div class="text-center p-3">
    <button type="button col-1 color-muted" name="button" class="btn mr-1">
      <i class="fas fa-sort-amount-down float-left"></i>
    </button>
    <button type="button col-1 color-muted" name="button" class="btn ml-1">
      <i class="fas fa-filter float-left"></i>
    </button>
  </div>
<!-- end Filters Header -->

<!-- OrdersList-->
<!-- Informações do card antigo:
Compra #{{_id}}
{{offer.product.name}}
R$ {{unitPrice}} / {{offer.product.unit}}</p>
{{amountBought}} {{offer.product.unit}}
Total: R$ {{priceBought}}
{{offer.delivery}}
<div class="pagination float-right">
  <div data-tooltip="Tooltip 1" class="pagination__dot pagination__dotColocartoistracinhoSactive"></div>
</div>
<div class="dropdown">
<button name="status"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
{{#ifCond status 'Cotado'}}
  class="btn btn-outline-primary dropdown-toggle ">
    Cotado

{{else ifCond status 'Aguardando boleto'}}
  class="btn btn-outline-secondary dropdown-toggle ">
    Aguardando boleto

{{else ifCond status 'Aguardando pagamento'}}
  class="btn btn-outline-warning  dropdown-toggle ">
    Aguardando pagamento

{{else ifCond status 'Pagamento confirmado'}}
    class="btn btn-outline-success  dropdown-toggle ">
      Pagamento confirmado

{{else ifCond status 'Produto a caminho'}}
  class="btn btn-outline-info dropdown-toggle ">
    Produto a caminho

{{else ifCond status 'Entregue'}}
  class="btn btn-outline-success  dropdown-toggle ">
    Entregue

{{else}}
  class="btn  dropdown-toggle btn-outline-danger">
    Cancelado
{{/ifCond}}
</button>   <button <button onclick="location.href='/admin/{{id}}/updateTransaction'" class="btn btn-outline-success"> -->
<!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-primary col-12" name="status" value="Cotado">
      Cotado
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>
<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-secondary col-12" name="status" value="Aguardando boleto">
      Aguardando boleto
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>
<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-warning col-12" name="status" value="Aguardando pagamento">
      Aguardando pagamento
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>

<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-success col-12" name="status" value="Pagamento confirmado">
      Pagamento confirmado
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>

<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-info col-12" name="status" value="Produto a caminho">
      Produto a caminho
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>

<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-success col-12" name="status" value="Entregue">
      Entregue
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>

<form method= "POST" action="/admin/{{id}}/updateTransaction">
  <a class="dropdown-item" href="#">
    <button type="submit" class="btn btn-outline-danger col-12" name="status" value="Cancelado">
    Cancelado
      <i class="fas fa-user-check"></i>
    </button>
  </a>
</form>


</div>
</div>-->
=======
<div id="results-list" class="row justify-content-center">
    {{#each transactions}}
    <div class="col-7">
      <div class="card mb-1 btn ">
          <!-- onclick="location.href = '/transaction/{{_id}}'"> -->
        <div class="mr-2 mt-2 text-right">
          <div class="text-center">
            <div class="pagination float-right">
              <div data-tooltip="Tooltip 1" class="pagination__dot pagination__dot--active"></div>
            </div>
            <h7 class="card-title align-text-top text-gray ">Compra #{{_id}}</h7>
            <h5 class="card-title align-text-top product-myOrders ">{{offer.product.name}}</h5>
            <div class="dropdown">
          <button name="status"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            {{#ifCond status 'Cotado'}}
              class="btn btn-outline-primary dropdown-toggle ">
                Cotado

            {{else ifCond status 'Aguardando boleto'}}
              class="btn btn-outline-secondary dropdown-toggle ">
                Aguardando boleto

            {{else ifCond status 'Aguardando pagamento'}}
              class="btn btn-outline-warning  dropdown-toggle ">
                Aguardando pagamento

            {{else ifCond status 'Pagamento confirmado'}}
                class="btn btn-outline-success  dropdown-toggle ">
                  Pagamento confirmado

            {{else ifCond status 'Produto a caminho'}}
              class="btn btn-outline-info dropdown-toggle ">
                Produto a caminho

            {{else ifCond status 'Entregue'}}
              class="btn btn-outline-success  dropdown-toggle ">
                Entregue

            {{else}}
              class="btn  dropdown-toggle btn-outline-danger">
                Cancelado
            {{/ifCond}}
          </button>
          <!--   <button <button onclick="location.href='/admin/{{id}}/updateTransaction'" class="btn btn-outline-success"> -->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-primary col-12" name="status" value="Cotado">
                  Cotado
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>
            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-secondary col-12" name="status" value="Aguardando boleto">
                  Aguardando boleto
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>
            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-warning col-12" name="status" value="Aguardando pagamento">
                  Aguardando pagamento
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>

            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-success col-12" name="status" value="Pagamento confirmado">
                  Pagamento confirmado
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>

            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-info col-12" name="status" value="Produto a caminho">
                  Produto a caminho
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>

            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-success col-12" name="status" value="Entregue">
                  Entregue
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>

            <form method= "POST" action="/admin/{{id}}/updateTransaction">
              <a class="dropdown-item" href="#">
                <button type="submit" class="btn btn-outline-danger col-12" name="status" value="Cancelado">
                Cancelado
                  <i class="fas fa-user-check"></i>
                </button>
              </a>
            </form>

{{#section 'scripts' }}
{{/section}}
