{{#section 'stylesheets'}}
{{/section}}

<div class="pl-5 pr-5">
  <div class="container">
    <div class="row justify-content-center mx-sm-auto mx-md-9">
    <div class="justify-content-center mx-sm-auto">
      <div class="row">
        <div class="col-12 ml-1 mb-3 text-center justify-content-center">
          {{#if offer.megaOpportunity}}
          <div class="text-center pb-2">
            <h5 class="badge badge-success ">
                Mega oportunidade
            </h5>
          </div>
          {{/if}}
          <h2 class="my-0 py-0">{{offer.product.name}}</h2>
          <i class="text-muted">Produto {{offer.product.generic}}</i>
        </div>
        {{#compare userType 'Produtor'}}
        <!-- Seller info -->
        <div class="col-12 col-md-6 mt-3">
          <h2 class="mb-4 text-center">Dados do vendedor</h2>
          <h4>Empresa</h4>
          <p class="mb-4">{{offer.seller.fantasyName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{offer.seller.logistics.phone}}</p>
          <p class="mb-4">E-mail: {{offer.seller.logistics.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{offer.seller.address.street}}, {{offer.seller.address.number}}, {{offer.seller.address.city}}, {{offer.seller.address.state}}</p>
        </div>
        <!-- end Seller info -->
        {{else compare userType 'Indústria'}}
        <!-- Buyer info -->
        <div class="col-12 col-md-6 mt-3">
          <h2 class="mb-4 text-center">Dados do comprador</h2>
          <h4>Nome</h4>
          <p class="mb-4">{{buyer.fullName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{buyer.phone}}</p>
          <p class="mb-4">E-mail: {{buyer.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{buyer.address.street}}, {{buyer.address.number}}, {{buyer.address.city}}, {{buyer.address.state}}</p>
        </div>

        {{else compare userType 'Revendedor'}}
        {{#compare offer.seller._id userId}}
        <!-- Buyer info -->
        <div class="col-12 col-md-6 mt-3 ">
          <h2 class="mb-4 text-center">Dados do comprador</h2>
          <h4>Nome</h4>
          <p class="mb-4">{{buyer.fullName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{buyer.phone}}</p>
          <p class="mb-4">E-mail: {{buyer.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{buyer.address.street}}, {{buyer.address.number}}, {{buyer.address.city}}, {{buyer.address.state}}</p>
        </div>
        <!-- end Buyer info -->
        {{else}}
        <!-- Seller info -->
        <div class="col-12 col-md-6 mt-3">
          <h2 class="mb-4 text-center">Dados do vendedor</h2>
          <h4>Empresa</h4>
          <p class="mb-4">{{offer.seller.fantasyName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{offer.seller.logistics.phone}}</p>
          <p class="mb-4">E-mail: {{offer.seller.logistics.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{offer.seller.address.street}}, {{offer.seller.address.number}}, {{offer.seller.address.city}}, {{offer.seller.address.state}}</p>
        </div>
        <!-- end Seller info -->
        {{/compare}}
        {{else}}
        <!-- Seller info -->
        <div class="col-12 col-md-6 mt-3">
          <h2 class="mb-4 text-center">Dados do vendedor</h2>
          <h4>Empresa</h4>
          <p class="mb-4">{{offer.seller.fantasyName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{offer.seller.logistics.phone}}</p>
          <p class="mb-4">E-mail: {{offer.seller.logistics.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{offer.seller.address.street}}, {{offer.seller.address.number}}, {{offer.seller.address.city}}, {{offer.seller.address.state}}</p>
        </div>
        <!-- end Seller info -->
        <!-- Buyer info -->
        <div class="col-12 col-md-6 mt-3 ">
          <h2 class="mb-4 text-center">Dados do comprador</h2>
          <h4>Nome</h4>
          <p class="mb-4">{{buyer.fullName}}</p>
          <h4>Contato</h4>
          <p>Telefone: {{buyer.phone}}</p>
          <p class="mb-4">E-mail: {{buyer.email}}</p>
          <h4>Endereço</h4>
          <p class="mb-4">{{buyer.address.street}}, {{buyer.address.number}}, {{buyer.address.city}}, {{buyer.address.state}}</p>
        </div>
        <!-- end Buyer info -->
        {{/compare}}

        <!-- Transaction info -->
        <div class="col-12 col-md-6 mt-3">
            <h4>Entrega</h4>
            <p>{{offer.delivery}}
              {{#ifNotEq delivery '48 horas'}}
                {{#ifNotEq delivery '31 dias'}}
                  {{group.date}}
                {{/ifNotEq}}
              {{/ifNotEq}}
            </p>

            <h4>Quantidade comprada</h4>
            <p>{{amountBought}} {{offer.product.unit}}</p>

            <h4>Preço total</h4>
            <p>
                U$ {{priceBought}}
            </p>

            <h4>Status da compra</h4>
            <p>{{status}}</p>

            {{#if offer.megaOpportunity}}
            <h4>Avaria</h4>
            <p>{{offer.damage}}</p>
            {{else}}
            <h4>Descrição</h4>
            <p>{{offer.product.description}}</p>
            {{/if}}

            {{#compare userType 'Administrador'}}
            <h4 class="mt-5">Alterar status da taxa</h4>
            <div class="dropdown pb-4">
              <button name="taxStatus"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              {{#compare taxStatus 'Aguardando boleto'}}

              class="btn btn-info dropdown-toggle col-8">
              Aguardando boleto

              {{else compare taxStatus 'Aguardando pagamento'}}
              class="btn btn-warning dropdown-toggle col-8">
              Aguardando pagamento

              {{else compare taxStatus 'Pagamento confirmado'}}
              class="btn btn-success  dropdown-toggle col-8">
              Pagamento confirmado

              {{else}}
              class="btn  dropdown-toggle btn-danger col-8">

              Cancelado
              {{/compare}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <form  method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" align="center" class="btn btn-outline-info col-12" name="taxStatus" value="Aguardando boleto">
                    Aguardando boleto
                  </button>
                </a>
              </form>
              <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                <a class="dropdown-item " href="#">
                  <button type="submit" class="btn btn-outline-warning col-12" name="taxStatus" value="Aguardando pagamento">
                    Aguardando pagamento
                  </button>
                </a>
              </form>
              <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-success col-12" name="taxStatus" value="Pagamento confirmado">
                    Pagamento confirmado
                  </button>
                </a>
              </form>

              <form method= "POST" action="/admin/{{id}}/updateTaxTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-danger col-12" name="taxStatus" value="Cancelado">
                    Cancelado
                  </button>
                </a>
              </form>
            </div>
            </div>

            {{else compare userType 'Indústria'}}
            <h4 class="mt-5">Alterar status</h4>
            <div class="dropdown pb-4">
              <button name="status"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              {{#compare status 'Aguardando boleto'}}
              class="btn btn-warning dropdown-toggle mx-auto">
              Aguardando boleto

              {{else compare status 'Aguardando pagamento'}}
              class="btn btn-warning dropdown-toggle mx-auto">
              Aguardando pagamento

              {{else compare status 'Pagamento confirmado'}}
              class="btn btn-secondary  dropdown-toggle mx-auto">
              Pagamento confirmado

              {{else compare status 'Produto a caminho'}}
              class="btn btn-primary  dropdown-toggle mx-auto">
              Produto a caminho

              {{else compare status 'Entregue'}}
              class="btn btn-success  dropdown-toggle mx-auto">
              Entregue

              {{else}}
              class="btn  dropdown-toggle btn-danger mx-auto">
              Cancelado
              {{/compare}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <form  method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-info col-12" name="status" value="Aguardando boleto">
                    Aguardando boleto
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item " href="#">
                  <button type="submit" class="btn btn-outline-warning col-12" name="status" value="Aguardando pagamento">
                    Aguardando pagamento
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-secondary col-12" name="status" value="Pagamento confirmado">
                    Pagamento confirmado
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-primary col-12" name="status" value="Produto a caminho">
                    Produto a caminho
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-success col-12" name="status" value="Entregue">
                    Entregue
                  </button>
                </a>
              </form>

              <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-danger col-12" name="status" value="Cancelado">
                    Cancelado
                  </button>
                </a>
              </form>
            </div>
            </div>

            {{else compare userType 'Revendedor'}}
            {{#compare offer.seller._id userId}}
            <h4 class="mt-5">Alterar status</h4>
            <div class="dropdown pb-4">
              <button name="status"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              {{#compare status 'Aguardando boleto'}}

              class="btn btn-warning dropdown-toggle col-8">
              Aguardando boleto

              {{else compare status 'Aguardando pagamento'}}
              class="btn btn-warning dropdown-toggle col-8">
              Aguardando pagamento

              {{else compare status 'Pagamento confirmado'}}
              class="btn btn-secondary  dropdown-toggle col-8">
              Pagamento confirmado

              {{else compare status 'Produto a caminho'}}
              class="btn btn-primary  dropdown-toggle col-8">
              Produto a caminho

              {{else compare status 'Entregue'}}
              class="btn btn-success  dropdown-toggle col-8">
              Entregue

              {{else}}
              class="btn  dropdown-toggle btn-danger col-8">
              Cancelado
              {{/compare}}
              {{/compare}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <form  method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-info col-12" name="status" value="Aguardando boleto">
                    Aguardando boleto
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item " href="#">
                  <button type="submit" class="btn btn-outline-warning col-12" name="status" value="Aguardando pagamento">
                    Aguardando pagamento
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-secondary col-12" name="status" value="Pagamento confirmado">
                    Pagamento confirmado
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-primary col-12" name="status" value="Produto a caminho">
                    Produto a caminho
                  </button>
                </a>
              </form>

              <form method= "POST" action="/transaction/{{id}}/updateTransaction">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-success col-12" name="status" value="Entregue">
                    Entregue
                  </button>
                </a>
              </form>

              <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-outline-danger col-12" name="status" value="Cancelado">
                    Cancelado
                  </button>
                </a>
              </form>
            </div>
            </div>
            {{/compare}}
        </div>
      </div>
        <!-- end Transaction info -->

      <div class="mx-auto col-12 col-md-5 pb-2 mb-2 mt-4">
        {{#ifNotEq userType 'Administrador'}}
          {{#ifNotEq offer.seller._id userId}}
            {{#if franchisee}}
              {{#compare userType 'Franqueado'}}
                {{#compare status 'Cotado'}}
                  <div class="text-center my-3 justify-content-center">
                    <form action="/transaction/{{id}}?_method=PUT" method="POST">
                      <button class="btn btn-success col-12" type="submit" name="button" type="submit" name="button">Confirmar compra</button>
                    </form>
                  </div>
                  <div class="text-center my-3 justify-content-center">
                    <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
                      <button type="submit" class="btn btn-danger col-12" name="status" value="Cancelado">
                        Cancelar cotação
                      </button>
                    </form>
                  </div>
                {{/compare}}
              {{/compare}}
            {{else}}
              {{#compare status 'Cotado'}}
                <div class="text-center my-3 justify-content-center">
                  <form action="/transaction/{{id}}?_method=PUT" method="POST">
                    <button class="btn btn-success col-12" type="submit" name="button" type="submit" name="button">Confirmar compra</button>
                  </form>
                </div>
                <div class="text-center my-3 justify-content-center">
                  <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
                    <button type="submit" class="btn btn-danger col-12" name="status" value="Cancelado">
                      Cancelar cotação
                    </button>
                  </form>
                </div>
              {{/compare}}
            {{/if}}
          {{/ifNotEq}}
        {{/ifNotEq}}

        {{#ifNotEq status 'Cancelado'}}
          {{#ifNotEq status 'Entregue'}}
            {{#ifNotEq status 'Cotado'}}
              {{#ifNotEq userType 'Administrador'}}
                {{#ifNotEq offer.seller._id userId}}
                  <div class="text-center my-3 justify-content-center">
                    <form action="/transaction/{{id}}?_method=DELETE" method="POST" id="form-delete">
                      <button type="submit" class="btn btn-danger col-12" name="status" value="Cancelado">
                        Cancelar compra
                      </button>
                    </form>
                  </div>
                {{/ifNotEq}}
              {{/ifNotEq}}
            {{/ifNotEq}}
          {{/ifNotEq}}
        {{/ifNotEq}}
      <!-- end Product Description -->
    </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
