{{#section 'stylesheets'}}
{{/section}}

<div class="container">
  <!-- <div class="row justify-content-center mx-sm-auto mx-md-9"> -->
    <div class="row mx-sm-auto mx-md-9">
    <!-- Sale Title -->
    <div class="col-12 col-md-6 pl-5 mb-5 justify-content-center ">
      <p class="ml-4">Compra#{{_id}}</p>
      <div class="w-100">
      </div>
      {{#ifCond status 'Cancelado'}}
        <span class="badge badge-danger">
      {{else ifCond status 'Em andamento'}}
        <span class="badge badge-primary">
      {{else ifCond status 'Entregue'}}
        <span class="badge badge-success">
      {{/ifCond}}
        <h6>{{status}}</h6>
      </span>
      <p class="align-text-bottom ml-3 text-gray">Prazo até dia {{deadline}}</p>
      <h2>{{offer.product.name}}</h2>
      <h4 class="text-gray">R$ {{unitPrice}} un.</h4>
    </div>
    <!-- end Sale Title -->

    <!-- Seller info -->
    <div class="col-12 col-md-6">
      <h2>Dados do vendedor</h2>
      <p class="text-gray">Empresa</p>
      <h4>{{seller}}</h4>
      <p class="text-gray">Contato</p>
      <h4>{{phone}}</h4>
      <h4>{{email}}</h4>
    </div>
    <!-- end Seller info -->

    <!-- Product Description -->
    <div class="row mb-3 ml-4">
      <div class="col-6">
        <dt class="text-gray">Entrega</dt>
        <h4>{{delivery}}</h4>
      </div>
      <div class="col-6">
        <dt class="text-gray">Quantidade</dt>
        <h4>{{amountBought}}</h4>
      </div>
      <div class="col-6">
        <dt class="text-gray">Preço total</dt>
        <h2>R$ {{priceBought}}</h2>
      </div>
      <div class="col-6">
        <dt class="text-gray mb-1">Pagamento</dt>
        <h4>{{payment}}</h4>
      </div>
    </div>
    <!-- end Product Description -->

    <!-- Product Characteristics -->
    <!-- end Product Characteristics -->

  </div>
</div>

{{#section 'scripts'}}
{{/section}}
